.nav-item {
    width: 33%;
}

.nav-item > button {
    width : 100%;
}

.membershipListCardImage {
    height: 20%; width:30%;
}

#controlled-tab-example-tab-memstocks {
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #333;
}

.main.search.box {
    margin-top: 5px; margin-bottom: 5px;
}